html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 18px;
  background-color: #eee;
  color: #000;
  height: 33475px;
  font-family: monospace;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./bg.svg) repeat;
}

a {
  color: #2980b9;
  background-color: #2980b918;
}
a:hover {
  background-color: #2980b938;
}

.emoji-display {
  display: flex;
  flex-direction: row;
}

.emoji-container {
  top: calc(50vh - 128px);
  position: fixed;
  text-align: center;
  font-size: 14px;
}

.emoji {
  font-size: 200px;
  width: 256px;
  height: 256px;
  text-align: center;
  line-height: 256px;
  transform-origin: bottom center;
}

.emoji span {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16px;
}

.header {
  align-items: flex-start;
  position: fixed;
  display: flex;
  width: 100vw;
  padding: 12px;
  top: 0;
  left: 0;
  z-index: 1;
}

.footer {
  position: fixed;
  display: flex;
  width: 100vw;
  padding: 12px;
  bottom: 0;
  left: 0;
}

h1,
h2 {
  font-size: 20px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -1px;
  padding: 4px;
}

a {
  padding: 3px 4px;
}

h2 {
  top: auto;
  bottom: 32px;
  width: 100vw;
  text-align: center;
}
