html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Brutalita';
  src: url('./Brutalita-400.woff2') format('woff2');
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  body,
  html {
    font-size: 16px;
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
  touch-action: pan-y;
  background-color: #eee;
  color: #000;
  font-family: Brutalita, monospace;
}

h1 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 0;
  font-weight: 400;
  letter-spacing: -1px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./bg.svg) repeat;
}

a {
  color: #2378b0;
  background-color: #d5dfe780;
  padding: 8px 10px;
  text-decoration: none;
  box-shadow: inset 0 -1px #2378b0;
  text-shadow: #fff4 0 1px 0;
}
a.discrete {
  background-color: transparent;
  box-shadow: inset 0 -1px #2378b080;
}
a:hover {
  background-color: #fff;
}

.emoji-display {
  display: flex;
  flex-direction: row;
}

.emoji-container {
  top: calc(50vh - 128px);
  position: fixed;
  text-align: center;
}

.emoji {
  font-size: 200px;
  width: 256px;
  height: 256px;
  text-align: center;
  margin-bottom: 16px;
  line-height: 256px;
  transform-origin: bottom center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: visible;
}

.emoji span {
  position: absolute;
  bottom: 0;
  left: 0;
}

.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  top: 0;
  z-index: 1;
}
.header-left {
  align-items: flex-start;
  left: 0;
}
.header-right {
  align-items: flex-end;
  right: 0;
}

.footer {
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
  left: 0;
  top: auto;
  bottom: 32px;
  pointer-events: none;
}
.footer-arrow {
  margin: -4px 0 -4px 8px;
}
